<%= form_for @item do |f| %>

 
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
      <%= f.label :"Image URL" %><br>
      <%= f.text_field :imgUrl %>
  </p>
  
  <p>
      <%= f.label :"Total Price" %><br>
      <%= f.text_field :price %>
  </p>
  
    <p>
      <%= f.label :"Quantity available" %><br>
      <%= f.text_field :quantity %>
  </p>
  
    <p>
      <%= f.label :"Link to site" %><br>
      <%= f.text_field :url %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
