<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="split.css">
    <title>Index Page</title>
    
<meta name="description" content="Listings">
</head>
    
    
<body>
    <div class="content">
    <!-- Page Content -->
    </div>
    
    <!-- navigation bar -->
<div  class="topnav" id="myTopnav">
  <a  href="index.html">Home</a>
  <a  href="items.html">Items</a>
  <div class="topnav-right">
  <input type="text" placeholder="Search..">
  </div>
</div>
    
    
<h2>Add Listing</h2>

    
<!-- Listing Form -->
    
<form action="#">

<div>

<% form_for @listing do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 <% end %>
 
</div>
</form><br>   
    
<%= link_to 'Back', items_path %>
    
    
<footer>

    <p>
        &copy; 2018 Split <br>
    </p>
    
</footer>   
    
</body>
    
</html>
