<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>imgUrl:</strong>
  <%= @item.imgUrl %>
</p>

<p>
  <strong>url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
<<<<<<< HEAD
  <strong>URL:</strong>
  <%= @item.description %>
=======
  <strong>price:</strong>
  <%= @item.price %>
>>>>>>> 194eba1f1294882cbf11538725ea4038ea43e835
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.date %>
</p>



<%= link_to 'item List', items_path %>