<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>imgUrl:</strong>
  <%= @item.imgUrl %>
</p>

<p>
  <strong>url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>price:</strong>
  <%= @item.price %>
</p>



<%= link_to 'item List', items_path %>