<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>imgUrl:</strong>
  <%= @item.imgUrl %>
</p>

<p>
  <strong>url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>price:</strong>
  <%= @item.price %>
</p>

<h2>Pending Splits</h2>
<% @item.transactions.each do |transaction| %>
  <p>
    <%= transaction.name %>
    <strong><%= transaction.quantity %></strong>
  </p>
<% end %>

<%= link_to 'item List', items_path %>