<!DOCTYPE html>
<html>
  <head>
    <title>Split</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div  class="topnav" id="myTopnav">
      <%= link_to 'Home', controller: 'welcome' %>
      <%= link_to 'Items', controller: 'items' %>
      <div class="topnav-right">
        <input type="text" placeholder="Search..">
      </div>
    </div>
    
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
  
  <footer>

  </footer>  
  
</html>
