<!DOCTYPE html>
<html>
  <head>
    <title>Split</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media:  'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    
  </head>

  <body>
    <div  class="topnav" id="myTopnav">
      <%= link_to 'Home', controller: 'welcome' %>
      <%= link_to 'Items', controller: 'items' %>
      <div class="topnav-right">
        <input type="text" id="myInput" onkeyup="search()" placeholder="Search...">
      </div>
    </div>
    
    <%= yield %>
  </body>
  
  <footer>

  </footer>  
  
</html>
